* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
}
a {
    text-decoration: none;
    color: black;
}
li {
    list-style: none;
}
.top-header {
    background-color: rgb(62, 70, 78);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 78px;
    padding: 8px 16px;
}
.top-header > h1 {
    font-size: 26px;
    color: #ffffff;
    cursor: pointer;
}
.search-bar{
    border: 1px solid rgb(255, 255, 255);
    padding: 5px;
    border-radius: 5px;
    background-color: #ffffff;
}
.search-bar input{
    border: none;
    outline: none;
}
.search-bar button{
    border: none;
    color: #ffffff;
    background: none;
    background-color: #3b7fe5;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.sidebar {
    width: 20%;
    background-color: white;
    color: black;
    padding: 30px 20px;
    float: left;
}
.sidebar ul {
    list-style-type: none;
}
.sidebar ul li {
    line-height: 3.0em;
}
.sidebar ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.1em;
    font-weight: bold;
}
.sidebar h2 {
    font-size: 2em;
    padding: 15px;
}
.main-content {
    width: 80%;
    margin-left: 20%;
    padding: 50px;
}
.product-and-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 45px;
    margin-top: 20px;
}
.product-and-button button {
    background-color: rgb(59, 134, 233);
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
    color: #ffffff;
}
.product-and-button h2 {
    font-size: 2em;
    padding: 4px;
}
table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td,th {
    border: 2px solid white;
    text-align: center;
    vertical-align: middle;
    padding: 8px;
    color: white;
}
th {
    background-color: rgb(40, 123, 233);
}
td {
    background-color: #dddddd;
    color: black;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
.edit-btn {
    background-color: #3b7fe5;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    color: #ffffff;
    margin: 5px;
}
.delete-btn {
    background-color: #ff0000;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    color: #ffffff;
}
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        position: relative;
        box-shadow: none;
        top: 0;
    }

    .sidebar ul li {
        text-align: center;
    }

    .main-content {
        width: 100%;
        margin-left: 0;
        padding: 20px;
    }

    .product-and-button {
        flex-direction: column;
        align-items: flex-start;
    }

    .product-and-button button {
        margin-top: 10px;
    }

    .search-bar {
        width: 100%;
    }

    .search-bar > input {
        width: 80%;
    }
}
@media (max-width: 480px) {
    .top-header {
        flex-direction: column;
        text-align: center;
    }
    .product-and-button h2 {
        font-size: 1.5em;
    }

    table {
        font-size: 12px;
    }

    .sidebar h2 {
        font-size: 1.5em;
    }
}
.footer{
    background-color:  rgb(62, 70, 78);
    clear: both;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
.copyright{
    text-align: center;
    color: white;
    padding: 20px;
}